{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% block meta_description %}{% endblock %}">
  <title>{% block title %}My App{% endblock %}</title>
{% load static %}
  <link rel="icon" href="{% static 'core/imgs/favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'core/dist/css/core.css' %}">
  {% block head %}{% endblock %}
</head>

<body>
  <nav class="navbar glass">
    <div class="nav-container">
      <ul class="nav-menu">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'core:home' %}">Home</a>
        </li>
      </ul>
    </div>
    
  
  </nav>


  
    {% block content %}
    {% endblock %}
 


 
  <script type="module" src="{% static 'core/dist/js/core.js' %}"></script>

</body>
</html>


