.navbar{
    position: relative;
    z-index: 50;
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:1rem;
    padding:0.75rem 1rem;
}

.brand-link{
    font-weight: 700;
    letter-spacing: 0.2px;
    text-decoration: none;
    color:orange;
}

.nav-link{
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap:0.5rem;
    padding: 0.55rem 0.75rem;
    border-radius: 12px;
}

.nav-toggle{
    display: inline-flex;
    flex-direction: column;
    gap:6px;
    padding: 0.55rem;
    border: 0;
    background: transparent;
    cursor: pointer;
}

.nav-toggle-bar{
    width:24px;
    height: 2px;
    background: currentColor;
    display: block;
    border-radius: 999px;
    color:orange;

}
/* when open, turn into an X */
.navbar.is-open .nav-toggle-bar:nth-child(1){
  transform: translateY(8px) rotate(45deg);
}

.navbar.is-open .nav-toggle-bar:nth-child(2){
  opacity: 0;
}

.navbar.is-open .nav-toggle-bar:nth-child(3){
  transform: translateY(-8px) rotate(-45deg);
}
.nav-menu{
    display:none;
    list-style: none;
    margin: 0;
    padding: 0;
    
   
    
}

.navbar.is-open .nav-menu{
    display: flex;
    flex-direction: column;
    

    position: absolute;
    left: 0;
    right: 0;
    top:100%;
    border-style: none;
    padding: 0.75rem 1rem 1rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
    z-index: 50;
    
    

   
    
    /* box-shadow: 0 8px 30px rgba(0,0,0,.45), inset 0 1px 0 rgba(255,255,255,.04); */
}

.navbar.is-open .nav-link{
    width: 100%;
    justify-content: flex-start;
}

/* DESKTOP (breakpoint) */
@media (min-width: 900px){
  .navbar{
    max-width: 65rem;
    margin: 0 auto;     /* centers the navbar */
    width: 100%;        /* lets it shrink on smaller screens */
  }
  .nav-toggle{ display:none; }
  
  .nav-menu{
    display:flex;                 /* visible on desktop */
    flex-direction:row;
    align-items:center;
    gap:0.5rem;
  }

  /* undo dropdown positioning on desktop */
  .navbar.is-open .nav-menu{
    position:static;
    padding:0;
    border-top:0;
    backdrop-filter:none;
    -webkit-backdrop-filter:none;
  }
  .nav-item{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .nav-link{
    color:orange;
  }
  .nav-link:hover{
    box-shadow: 0 8px 30px rgba(0,0,0,.45), inset 0 1px 0 rgba(255,255,255,.04);
  }

  .nav-link{
    padding:0.45rem 0.65rem;
  }
}